<div class="col-md-12" >
  <div class="col-md-3">
  <div class="card" style="width: 18rem;">
  <img src="/assets/galaxy.jfif" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Galaxy</h5>
    <p class="card-text">le granite Noir Galaxy , par excellence C’est la variété la plus apprécié en Tunisie dans la cuisine. Escalier flottant, …
      On travail Toute sorte de model est appliqué sur Devis .</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Prix :</li>
    <h2><li class="list-group-item">580 dt</li></h2>
  </ul>
</div>
  </div>
<div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="/assets/italie.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Italie</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
<div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="/assets/blanc.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Blanc</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</div>
