.card {
  margin-left: ;
  background-color:#ECDBCA !important;

}
.myfooter {
  margin : 20px;
  background-color:#ECDBCA !important;

}
.card-body {
  margin-left : 400px;
  background-color:#ECDBCA !important;

}
